PORT=5000
MONGO_URI=mongodb+srv://admin:admin@wdp301.ura2kh9.mongodb.net/WDP301?appName=WDP301


🔑 DANH SÁCH TÀI KHOẢN ĐĂNG NHẬP MẪU (Password chung: password123):
1. Admin:            admin@wdp301.com
2. Chủ trọ:          landlord@wdp301.com (Gói PRO, STK: 0988888888 MBBank)
3. Quản lý cơ sở:    manager@wdp301.com  (Phụ trách Tòa Nhà Trọ Xanh)
4. Khách thuê P.101: tenant1@wdp301.com  (Hóa đơn HD1001: Đã thanh toán)
5. Khách thuê P.102: tenant2@wdp301.com  (Hóa đơn HD1002: Chờ quét VietQR)
6. Khách thuê P.201: tenant3@wdp301.com  (Hóa đơn HD1003: Quá hạn thanh toán)